

/* .elementos div.col-2{
    border: 1px solid;
} */

/* .container{
    padding: 0;
} */

.col-4{
    padding: 0;
}

.col-2{
    /* border: 1px solid; */
    /* margin: 0; */
    /* padding-right: 1px;
    padding-left: 1px; */
}


.caja{
    width: 50px;
    height: 40px;
    border: 1px solid;
    overflow: hidden;
    padding: 1px;
}